#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: center;
  align-content: center;
  margin-bottom: 4rem;
}
#champion {
  margin-bottom: 10rem;
}
.champions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.champions .thumb {
  display: grid;
  justify-content: center;
}
.text-gray {
  color: #777;
}
.mb-5 {
  margin-bottom: 2rem;
}
/* vision-1 */
.vision-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.vision-1 .info {
  max-width: 450px;
  align-self: center;
}
.vision-1 .img {
  padding-left: 20%;
}
.vision-1 .img img {
  width: 100%;
}
/* vision-2 */
.vision-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.vision-2 .info {
  max-width: 600px;
  align-self: center;
  justify-self: end;
  padding-left: 8rem;
}
.vision-2 .img img {
  width: 100%;
  padding-left: 10%;
}
/* family */
.family {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.family header {
  grid-column: 1/-1;
  margin-bottom: 0;
}
.family .thumb img {
  width: 100%;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.features .card a {
  text-decoration: none;
  color: #222;
}
.features .card a h5 {
  font-weight: 700;
  font-size: 140%;
}
/* brand */
.brand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  padding-bottom: 1rem;
}
.brand img {
  filter: grayscale(100%);
  cursor: pointer;
  transition: all 1s;
  width: 60%;
  border-radius: 10px;
}
.brand img:hover {
  filter: grayscale(0);
}
/* blog */
.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.blog header {
  grid-column: 1/-1;
}
.blog .thumb img {
  width: 100%;
}
.blog .info h5 {
  font-weight: 700;
}
/* contact */
.contact {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.contact .detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.msg-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.msg-form button {
  display: grid;
  justify-self: start;
}
/* footer */
.footer {
  background: #2f1e22;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #999669, #dbb128);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #909287, #e69216);
  /* W3C, IE 10+/ Edge, Firefos 16+, Chrome 26+, Opera 12+, Safari 7+  */
}
.footer .row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 4rem;
}
.footer .col1 {
  display: grid;
  grid-row-gap: 1rem;
}
.footer .mdl-textfield__label {
  color: #ddd;
}

.footer .feeds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.footer .feeds img {
  width: 100%;
}
