.demo-layout-transparent {
  background: url('../imgs/banner-2369464__340.webp') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: rgb(5, 5, 5);
}

.mdl-layout__drawer .mdl-layout-title {
  background-image: -webkit-linear-gradient(0deg, #26272e 0%, #48444b 100%);
  background-image: linear-gradient(0deg, #494b5c 0%, #ded5e4 100%);
}
.nav {
  padding: 0 12%;
}
#home,
#champion {
  width: 70%;
  margin: 0 auto;
}
/* Champion */
.champions .card {
  box-shadow: 0px 10px 30px 0px rgba(63, 41, 8, 0.2);
}
.champions .thumb {
  background: rgb(241, 235, 230);
  padding: 4rem 0;
}
.champions .info {
  background: #f9f9fe;
  padding: 1rem 2rem;
}
.champions .info h5 {
  font-weight: 700;
}
.colored--btn {
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  background-image: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  color: #fff;
}
